//****************************************
//* COLORS
//****************************************

$black: #000000;
$white: #FFFFFF;

$primary-color: #7CAFC2;
$secondary-color: #BA8BAF;
$tertiary-color: #585858;